 <footer>  
        {{!--when you use the hbs.registerHelper and put in the partial you don't need any special syntax--}}
        <p>created by daniel hemmati - Copyright {{getCurrentYear}}</p>
</footer>