<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some website</title>
</head>
<body>
    {{!--the funny thing is vs code knows that the hbs is HTML(mustache) yes is funny--}}
    {{!--and the funny thing is when you hit the ctrl+/ this two bracket come to--}}
    {{> header}}
    

    <p>some text here</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quaerat eveniet similique provident modi dolore quasi, nulla sequi nam repellat mollitia optio dolor ut distinctio? Sunt officiis dicta eius explicabo.</p>
    <p>Minima debitis fugiat laborum neque facere esse ducimus cupiditate quo totam repudiandae. Saepe, perspiciatis at molestias, laudantium delectus molestiae voluptatum atque earum quos labore eos pariatur alias facere, eaque neque.</p>
    <p>Neque odit possimus doloribus tempore quod sunt tenetur, alias beatae. Ipsum nesciunt pariatur, neque exercitationem illum unde eos, similique officiis repudiandae omnis repellendus amet delectus, nulla iste eum quos recusandae.</p>
    <p>Ex eum dicta nam expedita est, nesciunt quae sapiente! Sint nam repellat ratione, eius assumenda ipsum odio itaque ducimus nemo voluptatibus, unde ipsam dolore exercitationem a dicta incidunt cumque. Officiis!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci officia voluptatem, sed quasi dicta perferendis doloremque tempore. Explicabo recusandae ratione quod aperiam, repudiandae, doloribus in nostrum culpa maiores praesentium porro!</p>
    
    {{> footer}}
</body>
</html>