<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some website</title>
</head>
<body>
    {{!--the funny thing is vs code knows that the hbs is HTML(mustache) yes is funny--}}
    {{!--and the funny thing is when you hit the ctrl+/ this two bracket come to--}}
    {{> header}}
    
    <p>projects page text would go here</p>
    
    {{> footer}}
</body>
</html>